Django==6.0.1
django-debug-toolbar==6.2.0
mysqlclient==2.2.7
pillow==11.3.0
openpyxl==3.1.5
pandas==2.3.1
reportlab==4.4.3
requests==2.32.4
django-auditlog==3.2.1
django-filter==25.2
python-decouple==3.8
djlint==1.36.4
